<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>BetterReads</title>

    {{#if loggedIn}}
      <link rel='stylesheet' href='/css/booklist.css' />
      <link rel='stylesheet' href='/css/bookdetails.css' />
    {{else}}
      <link rel='stylesheet' href='/css/style.css' />
    {{/if}}

    <link
      rel='stylesheet'
      href='https://use.fontawesome.com/releases/v5.5.0/css/all.css'
      integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU'
      crossorigin='anonymous'
    />
  </head>

  <body>
    {{#if loggedIn}}
      <nav class='topnav'>
        <a href='/'>
          <header>BetterReads <i class='fas fa-book-open'></i></header>
        </a>
        <div class='search-container'>
          <input type='text' placeholder='Search...' />
          <button type='submit'><i class='fas fa-search'></i></button>
        </div>

        <ul>
          <!-- added links to allow a jump to sections of the page for easier navigation (not currently in action)-->
          <li>
            <a href='/'><i class='fas fa-home'></i> </a>
          </li>
          {{! <li>
            <a href='#GENRE'> <i class='fas fa-theater-masks'> </i></a>
          </li>
          <li>
            <a href='#PROFILE'><i class='fas fa-user'></i> </a>
          </li> }}
          <li>
            <button id='logout'>Log Out</button>
          </li>
        </ul>
      </nav>
    {{/if}}

    {{{body}}}

    <footer>
      <p>BetterReads</p>
    </footer>
    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>