{{! Thought to make a seperate page for the review section,(better for me to write) so user is redirected to a different page to write a review rather than comment style-- 
i can change this concept tho}}

<form id="reviewform">
    <input type= "text" id="rname" placeholder="Your Name" required>
    <textarea id="userreview" placeholder="Write your review here :) ... " required></textarea>
<button id= "btn" type="submit">Submit</button>
</form>