
<body>
  <h1>Login</h1>
  <form action="/api/users/login" method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button id="btn" type="submit">Login</button>
    <button id="newUser" type="newuser">New User</button>
  </form>
{{! just using as validation}}
  <script>
    const btn = document.getElementById('btn');

    btn.addEventListener('click', (e){
      e.preventDefault();
    })


    const newUser = document.getElementById('newUser');
    newUser.addEventListener('click', () => {
      window.location.href = '/signup';
    });
  </script>

</body>
