<header>
  <h1>BetterReads <i class='fas fa-book-open'></i></h1>
</header>

<div class='login-container'>
  <h2>Login</h2>

  <p class='login-title'>Email</p>
  <input type='text' id='email' placeholder='Your email..' required />

  <p class='login-title'>Password</p>
  <input type='text' id='password' placeholder='Your password...' required />

  <div class='button-container'>
    <button class='subbtn' id='login'>Login</button>
    <button class='create-account subbtn' id='create-acc'>Create Account</button>
  </div>
</div>
<script src='/js/login.js'></script>