<header>
  <h1>BetterReads <i class='fas fa-book-open'></i></h1>
</header>

<div class='login-container'>
  <h2>Join Us</h2>

  <p class='login-title'>Username</p>
  <input type='text' id='username' placeholder='Your username...' required />

  <p class='login-title'>Email</p>
  <input type='text' id='email' placeholder='Your email...' required />

  <p class='login-title'>Password</p>
  <input type='text' id='password' placeholder='Your password...' required />

  <p class='login-title'>Confirm password</p>
  <input
    type='password'
    id='passwordConfirm'
    placeholder='Confirm your password...'
    required
  />

  <div class='button-container'>
    <button class='subbtn' id='signup'>Sign Up</button>
  </div>
</div>
<script src='/js/signup.js'></script>