
<body>

{{#each books}}
  <div class="book-details">
    <h2>{{title}}</h2>
    <img src="{{book_cover}}" alt="book cover"></img>
    <p>synopsis: {{synopsis}}</p>
    <p>Author: {{author}}</p>
  </div>
{{/each}}
 
</body>