@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

:root {
  --main: #57b179;
  --dark: #3f8359;
}

/* all navbar section */
* {
  margin: 0;
  padding: 0;
}

body {
  color: #494949;
  background-color: #f3f9f6;
}

.topnav {
  background-color: var(--main);
  overflow: hidden;
  position: relative;
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav a header {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.topnav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topnav ul button {
  padding: 7px 10px;
  margin-left: 5px;
  background-color: var(--dark);
  border: 0;
  border-radius: 3px;
  color: whitesmoke;
  font-weight: bold;
}

.topnav ul button:hover {
  opacity: 50%;
}

.topnav a {
  font-family: sans-serif;
  font-size: 1.4rem;
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

.topnav a:hover {
  color: var(--dark);
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 40%;
}

.search-container input[type='text'] {
  padding: 8px;
  border: none;
  border-radius: 3px;
  width: 90%;
}

.search-container button {
  padding: 8px 12px;
  background: var(--dark);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.search-container button:hover {
  opacity: 50%;
}

/*genre sections*/

.genres-cont {
  margin-top: 5rem;
}
.genre-sect h3 {
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: bold;
}

.img {
  max-width: 6.25em;
  height: auto;
  padding: 2.5px;
}

.img:hover {
  opacity: 50%;
}

.genre-sect {
  padding: 15px;
  padding-top: 2px;
  background-color: rgb(233, 232, 232);
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  z-index: 1;
}

.genre-sect::after {
  z-index: -1;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(33.33% - 15px);
  background-color: var(--dark);
}

.books {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  padding: 2rem;
}

.books a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.book {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.book-cover {
  width: 100%;
}

.book-cover img {
  width: 100%;
}

.book-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-title {
  color: #494949;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.book-author {
  color: #747474;
  font-size: 16px;
  font-weight: 500;
}
